.rooms-container {
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    
    &:hover {
      background-color: #bb2d3b;
      border-color: #b02a37;
    }
  }
  
  .form-control:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  }
}